<mat-toolbar color="primary">
  Angular Adventures
</mat-toolbar>

<mat-sidenav-container class="sideNavContainer">
  <mat-sidenav mode="side" opened color="accent" class="sideNav">
    <nav>
      <button mat-raised-button routerLink="/" routerLinkActive="active">
        Home
      </button>
      <button mat-raised-button routerLink="/aboutme" routerLinkActive="active">
        About Me
      </button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-divider></mat-divider>
<div class="footer">
  <div class="mat-body-1">
    Contact
  </div>
</div>
